@import 'normalize.css';

:root {
    // --primary: #007fff;
    // --black: #000;
    --text-color: #161823;
    // --white: #fff;

    //Default layout
    // --default-layout-header-height: 60px;
    // --default-layout-width: 100%;
    // --default-layout-horizontal-spacer: 24px;

    --font-family: 'ProximaNova', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
}
